body {
    background-color: hsl(212, 45%, 89%);
}

div.main-contianer {
    background-color: hsl(0, 0%, 100%);
    border: 1px hidden hsl(0, 0%, 100%);
    border-radius: 8px;
    width: 19vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 40%;
}

img {
    border-radius: 5px;
}

div.text-contianer {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

div.h3-contianer h3 {
    color: hsl(218, 44%, 22%);
    line-height: 25%;
    border: 5px solid balck;
}

div.h3-contianer2 h3 {
    margin-bottom: 40px;
}

div.para-contianer p {
    line-height: 20%;
    color: hsl(220, 15%, 55%);
}

p.p1 {
    margin-top: 40px;
}